<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Contacts.plist
   SaveData

   Created by q on 2017/1/30.
   Copyright (c) 2017年 xyg. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>A</key>
        <array>
            <dict>
                <key>name</key>
                <string>阿珍</string>
                <key>gender</key>
                <string>女</string>
                <key>image</key>
                <string>阿珍.png</string>
                <key>phoneArray</key>
                <array>
                    <string>18500983697</string>
                    <string>15235963164</string>
                    <string>15532878879</string>
                </array>
            </dict>
        </array>
        <key>B</key>
        <array>
            <dict>
                <key>name</key>
                <string>冯超</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>冯超.png</string>
                <key>phoneArray</key>
                <array>
                    <string>18500983697</string>
                    <string>15235963164</string>
                </array>
            </dict>
        </array>
        <key>G</key>
        <array>
            <dict>
                <key>name</key>
                <string>郜宇</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郜宇.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>18500983697</string>
                    <string>15235963164</string>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>郭海龙</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郭海龙.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15006162182</string>
                </array>
            </dict>
        </array>
        <key>H</key>
        <array>
            <dict>
                <key>name</key>
                <string>郜宇</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郜宇.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>18500983697</string>
                    <string>15235963164</string>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>郭海龙</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郭海龙.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15006162182</string>
                </array>
            </dict>
        </array>
        <key>I</key>
        <array>
            <dict>
                <key>name</key>
                <string>郜宇</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郜宇.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>18500983697</string>
                    <string>15235963164</string>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>郭海龙</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郭海龙.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15006162182</string>
                </array>
            </dict>
        </array>
        
        <key>J</key>
        <array>
            <dict>
                <key>name</key>
                <string>郜宇</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郜宇.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>15235963164</string>
                    <string>15532878879</string>
                    <string>18500983697</string>
                    <string>15235963164</string>
                </array>
            </dict>
            <dict>
                <key>name</key>
                <string>郭海龙</string>
                <key>gender</key>
                <string>男</string>
                <key>image</key>
                <string>郭海龙.png</string>
                <key>phoneArray</key>
                <array>
                    <string>15006162182</string>
                </array>
            </dict>
        </array>
        
    </dict>
</plist>
